html {
  text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  height: 100%;
  background-color: black;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  font-family: "Space Mono";
  font-style: monospace;
  font-weight: 400;
}

p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 0;
}

@font-face {
    font-family: 'Space-Mono';
    src: url('static/fonts/Space-Mono/spacemono-regular.woff2') format('woff2'),
         url('static/fonts/Space-Mono/spacemono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face { */
/*     font-family: 'Space Mono'; */
/*     src: url('static/fonts/Space-Mono/spacemono-bolditalic.woff2') format('woff2'), */
/*          url('static/fonts/Space-Mono/spacemono-bolditalic.woff') format('woff'); */
/*     font-weight: bold; */
/*     font-style: italic; */
/* } */
/**/
/* @font-face { */
/*     font-family: 'Space Mono'; */
/*     src: url('static/fonts/Space-Mono/spacemono-bold.woff2') format('woff2'), */
/*          url('static/fonts/Space-Mono/spacemono-bold.woff') format('woff'); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */
/**/
/* @font-face { */
/*     font-family: 'Space Mono'; */
/*     src: url('static/fonts/Space-Mono/spacemono-italic.woff2') format('woff2'), */
/*          url('static/fonts/Space-Mono/spacemono-italic.woff') format('woff'); */
/*     font-weight: normal; */
/*     font-style: italic; */
/* } */
