html {
  text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  height: 100%;
  background-color: black;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  font-family: "Space Mono";
  font-style: monospace;
  font-weight: 400;
}

p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 0;
}
